.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

.modal-body-upload {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    margin: 10px;
    text-align: center;
}

.file-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.sp-table tr > th,
.sp-table tr > td {
    text-align: center;
    vertical-align: middle;
}

.nav .nav-link.active {
    background-color: transparent;
    border-bottom: transparent;
    text-decoration: underline;
    color: rgb(13, 110, 253);
    border-bottom: 1px solid;
    width: 100%;
}

.nav .nav-link {
    color: #000000;
    border-bottom: 1px solid;
    width: 100%;
    padding: 5px 15px;
}

.nav .nav-link:hover {
    color: rgb(13, 110, 253);
    border-bottom: 1px solid;
    width: 100%;
}

.nav .nav-link:focus {
    color: #000000;
    border-bottom: 1px solid;
    width: 100%;
}

.cursor-table {
    cursor: pointer;
}

.check-input {
    height: 15px; /* not needed */
    width: 15px; /* not needed */
    margin-top: 5px;
    cursor: pointer;
}

.side-menu {
    padding-top: 30px;
}

*:focus {
    box-shadow: none !important;
}

.selected {
    background-color: rgba(155, 234, 172, 0.25);
    font-weight: bold;
}

.bs-checkbox {

}

.input-text-table {
    border: none;
    background: transparent;
    outline: none;
    width: 65px;
    border-bottom: 1px solid #000000;
}

.currency-select {
    border: none;
    width: 70px;
    border-bottom: 1px solid #000000;
    outline: none;
    text-align: center;
}

.reset-search {
    cursor: pointer;
}

.prise-models-in-product {
    text-align: left;

    .item-models {
        margin: 5px;
    }
}

.sticky-offset{
    top: 40px !important;
    margin-bottom: -150px;
    border-right: 1px solid grey;
}

.icon-sidebar {
    float: right;
}

.bs-checkbox .th-inner {
    padding: 15px 10px !important;
}